#personal {
  margin-left: 50px;
  margin-top: -17px;
}
#title {
  color: rgba(0, 0, 0, 0.63);
  margin-bottom: -15px;
}

#int1 {
  margin-top: 0px !important;
  color: black !important;
}
#int2 {
  margin-top: 0px !important;
  color: black !important;
}
#int3 {
  margin-top: 0px !important;
  color: black !important;
}
